target/
!.mvn/wrapper/maven-wrapper.jar
/dev
/dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/**/*

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Performance Testing ###
performance/k6-*/
performance-reports/
